*{

    margin: 0;
    padding: 0;
    list-style-type: none;
    /* box-sizing: border-box; */
}

body {
    font-family: poppins, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/purple_bg2.jpg);
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
}

.navcontent {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
}

.datetime {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.date {
    margin-right: 20px;
    font-size: 1rem;
    background-image: url(./img/golden_bg.jpg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    font-style: normal;
    font-weight: bold;
}

.time {
    font-size: 1rem;
    background-image: url(./img/golden_bg.jpg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    font-style: normal;
    font-weight: bold;

}

.nav ul {
    display: flex;
}

.navlogo img {
    height: 70px;
    /* box-shadow: 5px 10px 20px black; */
}

.nav ul li {
    padding: 14px 20px;
    cursor: pointer;
    list-style-type: none;
    /* position: relative; */

}

.side-nav {
    background-image: url(./img/purple_bg2.jpg);
    background-size: cover;
    position: fixed;
    inset: 0;
}

.side-navcontent ul li a {
    color: #7F8188;
    display: block;
    padding: 20px;
    transition: all 0.5s ease-in-out;

}

.side-navcontent ul li a:hover {
    background-color: rgba(67, 8, 96, 0.304);
}

.side-navlogo img {
    height: 70px
}

.menu-bar {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    /* margin-right: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-bar i {
    font-size: 1.5rem;
    background-image: url(./img/golden_bg.jpg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.side-navlogo {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

nav ul li a {
    /* color: #101010; */
    color: #7F8188;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    text-decoration: none;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(243, 239, 10, 0.927);
    /* top: 0px; */
    bottom: 0px;
    left: 0px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;

}

nav ul li a:hover::after,
.active::after {
    transform: scaleX(1);
    /* background-color: #7F8188; */
}



nav ul li a:hover,
nav ul li a.active {
    color: white
}

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form {
    background: linear-gradient(90deg, rgba(171, 18, 226, 1) 39%, rgba(9, 49, 121, 1) 78%);
    padding: 30px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* z-index: 1; */

}

.contact-form h1 {
    background-image: url(./img/golden_bg.jpg);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

form {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}
.contact-form button:hover{
    background-color: transparent;
    border: 1px solid white;
    /* border: 1px solid #007BFF; */
}

@media(min-width: 300px)and (max-width: 768px) {
    .navcontent {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }
    .side-nav {
        z-index: 1;
    }

    .date,
    .time {
        font-size: 0.7rem;
        background-image: url(./img/golden_bg.jpg);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
@media(min-width: 768px) and (max-width: 1024px) {
    .navcontent {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .side-nav {
        z-index: 1;
    }

    p {
        font-size: 1rem;
    }

}

@media (min-width: 1024px) {
    .side-nav {
        display: none;
    }

    p {
        font-size: 1.2rem;
    }

    .menu-bar {
        display: none;
    }
}